<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <style>
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            color: white;
            background-color: #007bff;
            text-decoration: none;
            border-radius: 5px;
        }

        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <h2>Bạn không có quyền truy cập</h2>
    <p>Vui lòng liên hệ quản trị viên</p>
    <a class="btn" href="/login">Đăng nhập bằng tải khoản khác</a>
</body>

</html>