<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Khách sạn X</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/singlepage.css?version=1.0.1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <style>

    </style>
</head>

<body>
    <div class="welcome-content">
        <h1>Chào mừng đến với <strong>Khách sạn X</strong></h1>
        <p>Hệ thống quản lý khách sạn sang trọng và hiện đại</p>

        <div class="btn-group-custom">
            <a href="/search-rental" class="btn btn-custom">
                <i class="fas fa-search mr-2"></i> Tra cứu đặt phòng
            </a>
            <a href="/dashboard" class="btn btn-custom">
                <i class="fas fa-sign-in-alt mr-2"></i> Đăng nhập quản lý
            </a>
        </div>
    </div>

    <footer>
        © 2025 Khách sạn X — All Rights Reserved
    </footer>

    <script src="/assets/plugins/jquery/jquery.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>