<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trang chủ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/adminlte.css?version=1.0.1">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="home-search-rental mt-5">
            <div class="mb-3">
                <h2 class="text-center">Tra cứu đặt phòng</h2>
            </div>

            <div class="card">
                <div class="card-body">
                    <p>Tra cứu phòng đang thuê (đã đặt trước)</p>
                    <form action="/search-rental-result" method="GET">
                        <div class="input-group mb-3">
                            <input type="text" name="keyword" class="form-control" placeholder="Mã thuê phòng, số điện thoại hoặc số CCCD" required oninvalid="this.setCustomValidity('Vui lòng nhập từ khóa')" oninput="this.setCustomValidity('')">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block">Tìm kiếm</button>
                            </div>
                        </div>
                    </form>

                    <a href="/" style="display: flex; margin-top: 30px;">Trở về</a>
                </div>
            </div>
        </div>

    </div>

    <script src="/assets/plugins/jquery/jquery.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/adminlte.min.js"></script>
</body>

</html>