<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card mt-3">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="card-title"><i class="fas fa-address-card mr-1"></i>Danh sách đặt phòng</h3>
                        <button type="button" class="btn btn-success btn-sm" id="btn-new-rental">Tạo đặt phòng mới</button>
                    </div>
                </div>

                <div class="card-body">
                    <table id="rentals-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">Mã đặt phòng</th>
                                <th class="text-center">Tên khách hàng</th>
                                <th class="text-center">Số ĐT</th>
                                <th class="text-center">Trạng thái</th>
                                <th class="text-center">Ngày nhận</th>
                                <th class="text-center">Ngày trả</th>
                                <th class="text-center">Tiền phòng</th>
                                <th class="text-center">Đã thanh toán</th>
                                <th class="text-center">Còn lại</th>
                                <th class="text-center">Người tạo</th>
                                <th class="text-center">Hành động</th>
                                <th class="text-center">Cập nhật</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit-rental" data-backdrop="static">
    <div class="modal-dialog" style="width: 100%; max-width: 1200px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tạo phiếu thuê phòng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" id="rental-form" action="/api/rentals" method="post">
                    <input type="hidden" name="rentalCode" class="form-control" id="rentalCode">
                    <input type="hidden" name="rentalId" class="form-control" id="rentalId">
                    <input type="hidden" name="roomId" class="form-control" id="roomId">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin khách hàng</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                    <label for="customerName">Tên khách hàng</label>
                                    <div class="input-group">
                                        <input type="text" name="customerName" class="form-control" id="customerName" maxlength="128" placeholder="Tên khách hàng">
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                    <label for="customerPhone">Số điện thoại</label>
                                    <div class="input-group">
                                        <input type="tel" name="customerPhone" class="form-control" id="customerPhone" placeholder="Số điện thoại">
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                    <label for="customerEmail">Email</label>
                                    <div class="input-group">
                                        <input type="email" name="customerEmail" class="form-control" id="customerEmail" autocomplete="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group col-md-3 col-sm-6 col-xs-12">
                                    <label for="customerIdCard">Số CCCD</label>
                                    <div class="input-group">
                                        <input type="text" name="customerIdCard" class="form-control" id="customerIdCard" maxlength="128" placeholder="Số CCCD">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin đặt phòng</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                    <label for="reservation">Ngày nhận phòng - trả phòng</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control float-right" name="reservation" id="reservation">
                                    </div>
                                </div>
                                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                    <label for="roomType">Loại phòng</label>
                                    <select id="roomType" name="roomType" class="form-control">
                                        <option value="">Tất cả loại phòng</option>
                                        <option value="single">Phòng đơn</option>
                                        <option value="double">Phòng đôi</option>
                                        <option value="vip">Phòng VIP</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                    <label for="selectedRoom">Phòng</label>
                                    <select id="selectedRoom" name="selectedRoom" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                    <label for="rental-status">Trạng thái thuê phòng</label><br>
                                    <div class="icheck-success d-inline mr-3">
                                        <input type="radio" id="active-status-input" name="rental-status" checked>
                                        <label for="active-status-input">Đang thuê</label>
                                    </div>
                                    <div class="icheck-primary d-inline mr-3">
                                        <input type="radio" id="pending-status-input" name="rental-status">
                                        <label for="pending-status-input">Đặt trước</label>
                                    </div>
                                    <div class="icheck-info d-inline mr-3">
                                        <input type="radio" id="complete-status-input" name="rental-status">
                                        <label for="complete-status-input">Đã trả phòng</label>
                                    </div>
                                    <div class="icheck-danger d-inline">
                                        <input type="radio" id="cancel-status-input" name="rental-status">
                                        <label for="cancel-status-input">Đã hủy</label>
                                    </div>
                                </div>

                                <div class="form-group col-md-2 col-sm-4 col-xs-12">
                                    <label for="totalPrice">Tiền phòng</label>
                                    <div class="input-group">
                                        <input type="number" name="totalPrice" class="form-control" id="totalPrice" maxlength="128" readonly>
                                    </div>
                                </div>

                                <div class="form-group col-md-2 col-sm-4 col-xs-12">
                                    <label for="amountUnPaid">Còn lại</label>
                                    <div class="input-group">
                                        <input type="number" name="amountUnPaid" class="form-control" id="amountUnPaid" maxlength="128" readonly>
                                    </div>
                                </div>

                                <div class="form-group col-md-2 col-sm-4 col-xs-12">
                                    <label for="amountPaid">Đã thanh toán</label>
                                    <div class="input-group">
                                        <input type="number" name="amountPaid" class="form-control" id="amountPaid" min="0" step="1000">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label for="notes">Ghi chú</label>
                                    <textarea name="notes" class="form-control" id="notes" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" id="btn-save-rental" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        let rentalsDt = $("#rentals-table").DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: '/api/rentals',
                data: function (params) {
                    const selectedDate = $('#reservationdate')?.data('datetimepicker')?.date() ?? '';
                    params.selectedDate = selectedDate ? selectedDate.hour(20).minute(0).second(0).toISOString() : '';
                    params.rentalStatus = $('#filterStatus').val();
                    params.roomType = $('#filterRoomType').val();
                }
            },
            columns: [
                {
                    data: 'rentalCode',
                    render: function (data, type, row) {
                        return `<div class="text-center"><span>${data}</span></div>`;
                    }
                },
                { data: 'customerName' },
                {
                    data: 'customerPhoneFormatted',
                    render: function (data, type, row) {
                        return `<div class="text-center"><span>${data}</span></div>`;
                    }
                },
                {
                    data: 'status',
                    render: function (data, type, row) {
                        return `
                        <div class="text-center">
                            <span class="${data === 'pending' ? 'text-primary' : data === 'active' ? 'text-success' : data === 'completed' ? 'text-info' : 'text-secondary'}">
                                ${data == 'pending' ? 'Đặt trước' : data == 'active' ? 'Đang thuê' : data == 'completed' ? 'Đã trả phòng' : data == 'cancelled' ? 'Đã hủy' : ''}
                            </span>
                        </div>`;
                    }
                },
                {
                    data: 'startDate',
                    render: function (data, type, row) {
                        return `
                        <div class="text-center">
                            <span>${data ? new Date(data).toLocaleDateString() : ''}</span>
                        </div>`;
                    }
                },
                {
                    data: 'endDate',
                    render: function (data, type, row) {
                        return `
                        <div class="text-center">
                            <span>${data ? new Date(data).toLocaleDateString() : ''}</span>
                        </div>`;
                    }
                },
                {
                    data: 'totalPriceFormatted',
                    render: function (data, type, row) {
                        return `<div class="text-right"><span>${data}</span></div>`;
                    }
                },
                {
                    data: 'amountPaidFormatted',
                    render: function (data, type, row) {
                        return `<div class="text-right"><span>${data}</span></div>`;
                    }
                },
                {
                    data: 'remainingFormatted',
                    render: function (data, type, row) {
                        return `<div class="text-right text-primary"><span>${data}</span></div>`;
                    }
                },
                {
                    data: 'createdBy',
                    render: function (data, type, row) {
                        return `<div class="text-left"><span>${data.fullname}</span></div>`;
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return `
                        <div class="text-center">
                            <button data-id="${row._id}" onclick="showEditRental('${row._id}')" class="btn btn-primary btn-sm">Chỉnh sửa</button>
                        </div>`;
                    }
                },
                { data: 'updatedAtFormatted', visible: false, searchable: false }
            ],
            columnDefs: [
                { width: "100px", targets: 6, orderable: false },
                { width: "100px", targets: 7, orderable: false },
                { width: "100px", targets: 8, orderable: false },
                { width: "100px", targets: 9, orderable: false },
                { width: "100px", targets: 10, orderable: false }
            ],
            order: [[4, "desc"]],
            autoWidth: true,
            responsive: true,
            autoWidth: false,
            language: {
                processing: "Đang xử lý...",
                search: "",
                searchPlaceholder: 'Từ khóa',
                lengthMenu: "Hiển thị _MENU_ bản ghi",
                info: "Hiển thị _START_ đến _END_ của _TOTAL_ bản ghi",
                infoEmpty: "Hiển thị 0 đến 0 của 0 bản ghi",
                infoFiltered: "(lọc từ _MAX_ bản ghi)",
                infoPostFix: "",
                loadingRecords: "Đang tải...",
                zeroRecords: "Không tìm thấy kết quả",
                emptyTable: "Không có dữ liệu trong bảng",
                paginate: {
                    first: "Đầu",
                    previous: "Trước",
                    next: "Sau",
                    last: "Cuối"
                },
                aria: {
                    sortAscending: ": sắp xếp tăng dần",
                    sortDescending: ": sắp xếp giảm dần"
                }
            }
        });

        $("#rentals-table_filter").append(`
        <div style="display:inline-block; width: 174px; margin-bottom: 0.5rem;">
            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                <input type="text" id="selectedDate" class="form-control form-control-sm datetimepicker-input" data-target="#reservationdate" placeholder="Chọn ngày" style="margin: 0;"/>
                <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                </div>
            </div>
        </div>
        `);

        $("#rentals-table_filter").append(`
        <select id="filterRoomType" class="form-control form-control-sm" style="display:inline-block; width: 174px; margin-bottom: 0.5rem;">
            <option value="">Tất cả loại phòng</option>
            <option value="single">Phòng đơn</option>
            <option value="double">Phòng đôi</option>
            <option value="vip">Phòng VIP</option>
        </select>
        `);

        $("#rentals-table_filter").append(`
        <select id="filterStatus" class="form-control form-control-sm" style="display:inline-block; width: 174px; margin-bottom: 0.5rem;">
            <option value="">Tất cả trạng thái</option>
            <option value="active">Đang thuê</option>
            <option value="completed">Đã trả phòng</option>
            <option value="cancelled">Đã hủy</option>
        </select>
        `);

        $('#reservationdate').datetimepicker({
            format: 'DD/MM/YYYY',
            locale: 'vi',
            defaultDate: null,
            useCurrent: false,
        });

        $('#rentals-table').on('draw.dt', function () {
            const wrapper = $('#rentals-table_wrapper .row:first-child');
            wrapper.find('> div:first-child')
                .removeClass('col-md-6').addClass('col-md-3');
            wrapper.find('> div:last-child')
                .removeClass('col-md-6').addClass('col-md-9');
        });

        $("#filterStatus").on("change", function () {
            rentalsDt.ajax.reload();
        });

        $("#filterRoomType").on("change", function () {
            rentalsDt.ajax.reload();
        });

        $('#reservationdate').on('change.datetimepicker', function (e) {
            rentalsDt.ajax.reload();
        });

        $('#reservation').daterangepicker({
            timePicker: false,
            locale: { format: 'DD/MM/YYYY' }
        });

        $('#btn-new-rental').on('click', function (e) {
            $("#rental-form").validate().resetForm();
            $("#rental-form .is-invalid").removeClass("is-invalid");

            $("#rentalId").val('');
            $("#rentalCode").val('');
            $("#roomId").val('');
            $("#customerName").val('');
            $("#customerPhone").val('');
            $("#customerEmail").val('');
            $("#customerIdCard").val('');
            $('#reservation').data('daterangepicker').setStartDate(moment(new Date()));
            $('#reservation').data('daterangepicker').setEndDate(moment(new Date()).add(1, 'days'));
            $("#roomType").val('');
            $("#active-status-input").prop('checked', true);
            $("#pending-status-input").prop('checked', false);
            $("#complete-status-input").prop('checked', false);
            $("#cancel-status-input").prop('checked', false);
            $("#totalPrice").val('');
            $("#amountPaid").val('');
            $("#amountUnPaid").val('');
            $("#notes").val('');
            $('#selectedRoom').val(null).trigger('change');
            $('#modal-edit-rental').modal('show');
        });

        $('#selectedRoom').select2({
            ajax: {
                url: '/api/rooms/available-rooms',
                data: function (params) {
                    var query = {
                        search: params.term ?? '',
                        startDate: $('#reservation').data('daterangepicker').startDate.clone().hour(14).minute(0).second(0).toISOString() ?? '',
                        endDate: $('#reservation').data('daterangepicker').endDate.clone().hour(12).minute(0).second(0).toISOString() ?? '',
                        roomType: $('#roomType').val() ?? '',
                        roomId: $('#rentalId').val() ? $('#roomId').val() : ''
                    }
                    return query;
                },
                processResults: function (data) {
                    return {
                        results: data.map(item => ({
                            id: item._id,
                            text: item.roomName,
                            price: item.price
                        }))
                    };
                }
            },
            placeholder: 'Chọn phòng trống...',
            allowClear: true,
            width: '100%'
        });

        $('#reservation, #roomType').on('change', function () {
            $('#selectedRoom').val(null).trigger('change');
            $("#selectedRoom").next('.select2-container').find('.select2-selection').removeClass('is-invalid');
            $('#selectedRoom').next('.select2-container').next('.invalid-feedback').hide();
            CalcPrice();
        });

        $('#selectedRoom').on('select2:select', function (e) {
            const data = e.params.data;
            const option = $(this).find(`option[value="${data.id}"]`);
            if (option.length) {
                option.attr('data-price', data.price);
            }
            CalcPrice();
        });

        $('#amountPaid').on('change', function () {
            CalcPrice();
        });

        $('#rental-form').validate({
            rules: {
                customerName: {
                    required: true,
                    maxlength: 128
                },
                customerPhone: {
                    required: true,
                },
                customerIdCard: {
                    required: true,
                },
                reservation: {
                    required: true,
                },
                selectedRoom: {
                    required: true,
                }
            },
            messages: {
                customerName: {
                    required: "Tên khách hàng không được để trống",
                    maxlength: "Tên khách hàng không được vượt quá 128 ký tự"
                },
                customerPhone: {
                    required: "Số điện thoại không được để trống",
                },
                customerIdCard: {
                    required: "Số CCCD không được để trống",
                },
                reservation: {
                    required: "Vui lòng chọn ngày thuê",
                },
                selectedRoom: {
                    required: "Vui lòng chọn phòng",
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                if (element.hasClass('select2-hidden-accessible')) {
                    element.next('.select2-container').after(error);
                } else {
                    element.closest('.form-group').append(error);
                }
            },
            highlight: function (element, errorClass, validClass) {
                if ($(element).hasClass('select2-hidden-accessible')) {
                    $(element).next('.select2-container').find('.select2-selection').addClass('is-invalid');
                } else {
                    $(element).addClass('is-invalid');
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                if ($(element).hasClass('select2-hidden-accessible')) {
                    $(element).next('.select2-container').find('.select2-selection').removeClass('is-invalid');
                } else {
                    $(element).removeClass('is-invalid');
                }
            }
        });

        $('#selectedRoom').on('change', function () {
            $(this).valid();
        });

        $('#btn-save-rental').on('click', function (e) {
            e.preventDefault();
            if (!$('#rental-form').valid())
                return;

            const postData = {
                id: $('#rentalId').val(),
                rentalCode: $('#rentalCode').val(),
                customerName: $('#customerName').val(),
                customerPhone: $('#customerPhone').val(),
                customerEmail: $('#customerEmail').val(),
                customerIdCard: $('#customerIdCard').val(),
                startDate: $('#reservation').data('daterangepicker').startDate.clone().hour(14).minute(0).second(0).toISOString(),
                endDate: $('#reservation').data('daterangepicker').endDate.clone().hour(12).minute(0).second(0).toISOString(),
                totalPrice: $('#totalPrice').val(),
                amountPaid: $('#amountPaid').val(),
                roomId: $('#selectedRoom').val(),
                notes: $('#notes').val(),
                status: $('input[name="rental-status"]:checked').attr('id') === 'active-status-input' ? 'active'
                    : $('input[name="rental-status"]:checked').attr('id') === 'pending-status-input' ? 'pending'
                        : $('input[name="rental-status"]:checked').attr('id') === 'complete-status-input' ? 'completed'
                            : 'cancelled',
            };

            if (!postData.id) {
                $.ajax({
                    url: '/api/rentals',
                    method: 'POST',
                    data: postData,
                    success: function (res) {
                        if (res.success) {
                            rentalsDt.ajax.reload();
                            $('#modal-edit-rental').modal('hide');
                            Toast.fire({ icon: 'success', title: 'Tạo đặt phòng thành công!' });
                        } else {
                            Toast.fire({ icon: 'error', title: res?.message || 'Tạo đặt phòng thất bại, vui lòng thử lại sau!' });
                        }
                    },
                    error: function (err) {
                        Toast.fire({ icon: 'error', title: err.responseJSON?.message || 'Tạo đặt phòng thất bại, vui lòng thử lại sau!' });
                    }
                });
            } else {
                $.ajax({
                    url: `/api/rentals/${postData.id}`,
                    method: 'PUT',
                    data: postData,
                    success: function (res) {
                        if (res.success) {
                            rentalsDt.ajax.reload();
                            $('#modal-edit-rental').modal('hide');
                            Toast.fire({ icon: 'success', title: 'Cập nhật đặt phòng thành công!' });
                        } else {
                            Toast.fire({ icon: 'error', title: res?.message || 'Cập nhật đặt phòng thất bại, vui lòng thử lại sau!' });
                        }
                    },
                    error: function (err) {
                        Toast.fire({ icon: 'error', title: err.responseJSON?.message || 'Cập nhật đặt phòng thất bại, vui lòng thử lại sau!' });
                    }
                });
            }
        });
    });

    function showEditRental(id) {
        var data = $("#rentals-table").DataTable().rows().data().toArray().find(x => x._id === id);
        $("#rental-form").validate().resetForm();
        $("#rental-form .is-invalid").removeClass("is-invalid");

        $("#rentalId").val(data._id);
        $("#rentalCode").val(data.rentalCode);
        $("#roomId").val(data.room._id);
        $("#customerName").val(data.customerName);
        $("#customerPhone").val(data.customerPhone);
        $("#customerEmail").val(data.customerEmail);
        $("#customerIdCard").val(data.customerIdCard);
        $('#reservation').data('daterangepicker').setStartDate(moment(data.startDate));
        $('#reservation').data('daterangepicker').setEndDate(moment(data.endDate));
        $("#roomType").val(data.room.type);
        $("#totalPrice").val(data.totalPrice);
        $("#amountPaid").val(data.amountPaid);
        $("#amountUnPaid").val(Math.max((Number(data.totalPrice) ?? 0) - (Number(data.amountPaid) ?? 0), 0));
        $("#notes").val(data.notes);
        $("#active-status-input").prop('checked', data.status === 'active');
        $("#pending-status-input").prop('checked', data.status === 'pending');
        $("#complete-status-input").prop('checked', data.status === 'completed');
        $("#cancel-status-input").prop('checked', data.status === 'cancelled');
        setRoomDefault(data.room._id, data.roomName, data.room.price)
        $('#modal-edit-rental').modal('show');
    }

    function setRoomDefault(roomId, roomName, price) {
        const $select = $('#selectedRoom');
        const option = new Option(roomName, roomId, true, true);
        option.setAttribute('data-price', price);
        $select.append(option).trigger('change');
        $select.val(roomId).trigger('change');
    }

    function CalcPrice() {
        $('#totalPrice').val('');
        $('#amountUnPaid').val('');
        const selected = $('#selectedRoom').find('option:selected').data('price');
        if (!selected)
            return;

        const picker = $('#reservation').data('daterangepicker');

        const startDate = picker.startDate;
        const endDate = picker.endDate;
        if (!startDate.isValid() || !endDate.isValid())
            return;

        let nights = endDate.diff(startDate, 'days');
        if (nights < 1) nights = 1;

        const total = selected * nights;
        $('#totalPrice').val(total);

        if (!$('#amountPaid').val()) {
            $('#amountUnPaid').val(total);
        } else {
            $('#amountUnPaid').val(Math.max(total - Number($('#amountPaid').val()), 0));
        }
    }
</script>