<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card mt-3">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="card-title">Tạo tài khoản mới</h3>
                    </div>
                </div>

                <div class="card-body">
                    <form role="form" id="user-info" action="/api/users" method="post">
                        <div class="form-group">
                            <label for="username">Tên đăng nhập</label>
                            <div class="input-group">
                                <input type="text" name="username" class="form-control" id="username" maxlength="128" placeholder="Tên đăng nhập">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fullname">Họ và tên</label>
                            <div class="input-group">
                                <input type="text" name="fullname" class="form-control" id="fullname" maxlength="128" autocomplete="name" placeholder="Họ và tên">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phonenumber">Số điện thoại</label>
                            <div class="input-group">
                                <input type="tel" name="phonenumber" class="form-control" id="phonenumber" autocomplete="phonenumber" placeholder="Số điện thoại">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <div class="input-group">
                                <input type="email" name="email" class="form-control" id="email" autocomplete="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="role">Vai trò</label>
                            <div class="input-group">
                                <select class="form-control" name="role" id="role">
                                    <option value="admin"> Administrator </option>
                                    <option value="director"> Ban giám đốc </option>
                                    <option value="manager"> Quản lý khách sạn </option>
                                    <option value="receptionist"> Tiếp tân </option>
                                    <option value="guest"> Khách hàng </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" id="area-form-group" style="display: none;">
                            <label for="area">Khu vực</label>
                            <div class="input-group">
                                <select class="form-control" name="area" id="area">
                                    <option value="a">Khu vực A</option>
                                    <option value="b">Khu vực B</option>
                                    <option value="c">Khu vực C</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Mật khẩu</label>
                            <div class="input-group">
                                <input type="password" name="password" class="form-control" id="password" placeholder="Mật khẩu">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="repassword">Nhập lại mật khẩu</label>
                            <div class="input-group">
                                <input type="password" name="repassword" class="form-control" id="repassword" placeholder="Nhập lại mật khẩu">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status">Trạng thái</label>
                            <div class="input-group">
                                <input type="checkbox" name="status" id="status" checked data-bootstrap-switch data-off-color="danger" data-on-color="success">
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary pl-5 pr-5">Lưu</button>
                        </div>
                    </form>

                    <a href="/users"><i class="fa fa-chevron-left"></i> Trở về</a>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('input[data-bootstrap-switch]').bootstrapSwitch({
            onText: 'Active',
            offText: 'Inactive',
            onColor: 'success',
            offColor: 'danger',
            size: 'small'
        });

        $("#area-form-group").toggle($("#role").val() === "receptionist");
        $("#role").on("change", function () {
            $("#area-form-group").toggle($("#role").val() === "receptionist");
        });

        $('#user-info').validate({
            rules: {
                username: {
                    required: true,
                    maxlength: 128
                },
                email: {
                    email: true,
                },
                password: {
                    required: true,
                    minlength: 6
                },
                repassword: {
                    required: true,
                    equalTo: '#password'
                }
            },
            messages: {
                username: {
                    required: "Tên đăng nhập không được để trống",
                    maxlength: "Tên đăng nhập không được vượt quá 128 ký tự"
                },
                email: {
                    email: "Vui lòng nhập đúng định dạng email"
                },
                password: {
                    required: "Mật khẩu không được để trống",
                    minlength: "Mật khẩu phải chứa ít nhất 6 ký tự",
                    maxlength: "Mật khẩu không được vượt quá 128 ký tự"
                },
                repassword: {
                    required: "Vui lòng nhập lại mật khẩu",
                    equalTo: "Mật khẩu nhập lại không khớp"
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        $('#user-info').on('submit', function (e) {
            e.preventDefault();
            if (!$('#user-info').valid())
                return;

            const data = {
                username: $('#username').val(),
                fullname: $('#fullname').val(),
                phonenumber: $('#phonenumber').val(),
                email: $('#email').val(),
                role: $('#role').val(),
                area: $('#role').val() != 'receptionist' ? null : $('#area').val(),
                status: $('#status').prop('checked') ? 1 : 0,
                password: $('#password').val(),
                repassword: $('#repassword').val()
            };

            $.ajax({
                url: '/api/users',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.success) {
                        Toast.fire({ icon: 'success', title: 'Tạo tài khoản thành công!' }).then(() => window.location.href = '/users');
                    } else {
                        Toast.fire({ icon: 'error', title: res?.message || 'Tạo khoản thất bại, vui lòng thử lại sau!' });
                    }
                },
                error: function (err) {
                    Toast.fire({ icon: 'error', title: err.responseJSON?.message || 'Tạo khoản thất bại, vui lòng thử lại sau!' });
                }
            });
        });
    });
</script>